.navBar {
    /*Navigation bar*/
     background-color: rgb(230, 210, 114);
     color: white;
     font-size: 30px;
     overflow: hidden;
     position: absolute;
     top: 0;
     width: 100%;
     text-align: center;
     padding: 0 10px 10px 0;
     margin: 0 0 5px 0;
  }

  .navBar a {
    /*navBar color for text/links*/
     color: black;
  }
  .navBar a:hover {
    /*Hover color on navBar text*/
     color: white;
  }