/* Universal formatting for all non-head/footer content */
body {
  overflow-x: hidden;
  background-color: white;
  margin: 0 0 0 0;
  font-family: Calibri, Arial, sans-serif;
}

/* The brief description of the given Article, Amendment, etc that also can be toggled */
.summaryContainer {
  font-size: 15px;
}

/* A dropdown that will display team14's analysis of an Article, Amendment, etc */
.analysisContainer {
  font-size: 15px;
}

/* The box that will display the current Article, Amendment, etc as well as contain all the other dropdowns */
.parentContainer {
  background-color: #524439;
  border-radius: 15%;
  box-shadow: 5px 10px;
  padding: 3%;
  position: relative;
  font-size: 20px;
  display: inline-block;
  margin: 20%;
  height: 250px;
  width: 40%;
}

.navbar {
  background: linear-gradient(#511f1f, #5e2e2f, #dddcdc, #5e2e2f, #511f1f);
  overflow: hidden;
  padding: 0 10px 10px 0;
  margin: 0 0 5px 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #35426d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 30px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #35426d;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #35426d;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Link to Preamble section */
#preamble {
}

/* Link to history of the constitution section */
#historyConstitution {
}
