/* styles.css */

body {
  background-color: #d3d6db;
}

h1 {
  margin: 10px;
  padding-bottom: 40px;
}

h3 {
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  width: 30%;
  text-align: center;
}

#centerButton {
  padding-left: 235px;
}

.paddingBottom {
  padding-bottom: 25px;
}

#profileImage {
  font-size: 20px;
}

div.parentDiv {
  padding-top: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 22px;
}

option {
  font-size: 20px;
}

textarea {
  font-size: 20px;
}
