<!-- navbar-inner.html -->

<head> </head>
<body>
  <link
    rel="stylesheet"
    href="/RPM/globals/components/navbar/navbar-styles.css"
  />
  <link rel="stylesheet" href="/RPM/globals/theme/theme.css" />
  <nav class="shadow-sm navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-left">
        <a class="navbar-brand navbar-text" href="/RPM/">RPM</a>
      </div>
      <div class="navbar-center">
        <div
          class="navbar-center-component"
          id="marketplace"
          style="display: none"
        >
          <a class="navbar-brand navbar-text" href="/RPM/pages/marketplace/"
            ><strong>Marketplace</strong></a
          >
        </div>
        <div class="navbar-center-component" id="post" style="display: none">
          <a class="navbar-brand navbar-text" href="/RPM/pages/post/"
            ><strong>Post a Listing</strong></a
          >
        </div>
        <div class="navbar-center-component" id="about">
          <a class="navbar-brand navbar-text" href="/RPM/pages/about/"
            ><strong>About Us</strong></a
          >
        </div>
      </div>
      <div class="navbar-right">
        <div class="dropdown" id="userInfo" style="display: none">
          <a
            class="navbar-brand navbar-text dropdown-toggle"
            href="#"
            role="button"
            id="userDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            User <i class="bi bi-caret-down-fill"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <li
              ><a class="dropdown-item" href="/RPM/pages/user/profile/"
                >Profile</a
              ></li
            >
            <li
              ><a class="dropdown-item" href="/RPM/pages/user/settings/"
                >Settings</a
              ></li
            >
            <li><hr class="dropdown-divider" /></li>
            <li
              ><a class="dropdown-item" href="/RPM/pages/user/logout/"
                >Logout</a
              ></li
            >
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <script src="/RPM/globals/theme/theme.js"></script>
</body>
