#aboutUs { /*Formatting for the About Us section*/
   margin-bottom: 100px;
   margin-left: 60px;
   margin-top: 100px;
}

#achievementsAndExperience { /*Formatting for "our" past experience and achievements*/
   margin-left: 60px;
   margin-top: 100px;
}

.aidanPersonalInformation { /* for pechea.html informational text */
   float: left;
   margin-right: 700px;
   margin-top: 85px;
}

body { /*Universal formatting for all non-head/footer content*/
   background-color: #313338;
   color: white;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 20px;
}

.centerFooter { /*Center's footer*/
   text-align: center;
}

.floatTextNextToImg { /* Lines up text with headshot */
   padding: 0 10% 0 10%;
}

#meetTheTeam { /*Basic formatting for the member display*/
   margin-left: 60px;
   margin-top: 5px;
}

/*Formatting for Na'Sir's personal page, all asides floatInfo and subSection are used to navigate throughout page in navBar*/
#millen11contact {  
   margin-top: 50px;
   margin-left: 45px;
}

#millen11education {
   margin-top: 50px;
   margin-left: 45px;
}

#millen11experience {
   margin-top: 50px;
   margin-left: 45px;
}

#millen11floatInfo {  /*Puts the contact info next to headshot*/
   float: right;
   margin-right: 650px;
}

#millen11objective {
   margin-top: 50px;
   margin-left: 45px;
}

#millen11skills {
   margin-top: 50px;
   margin-left: 45px;
}

#millen11spaceBelowNav {
   margin-top: 100px;
}

.millen11subSection {  /*Formatting each indivudal experience,etc in a given section*/
   margin: 50px 0px 0px 0px;
}

.navBar {  /*Navigation bar*/
   background-color: #666666;
   color: white;
   font-size: 30px;
   overflow: hidden;
   position: absolute;
   top: 0;
   text-align: center;
   width: 100%;
   padding: 0 10px 10px 10px;
   margin: 0 0 5px 0;
}

.navBar a {  /*navBar color for text/links*/
   color: white;
}

.navBar a:hover {  /*Hover color on navBar text*/
   color: red;
}

.roundHeadshots { /* Makes headshots on the home page circular */
   border-radius: 50%;
   clip-path: circle();
   height: 150px;
   margin-left: 180px;
   margin-right: 0;
   float: left;
   padding: 0;
   width: 200px;
}

.roundHeadshotsAidanPersonal { /* version of roundHeadshots for pechea.html */
   border-radius: 50%;
   clip-path: circle();
   padding: 1%;
   height: 300px;
   width: 300px;
   float: left;
}

.spaceOutNavContent {  /*Spacing between elements in navBar*/
   padding: 3%;
}
