/* styles.css */

/* styles.css */

/* styles.css */

body {
  background-color: #d3d6db;
  font-size: 35px;
}

.bottomPadding {
  padding-bottom: 30;
}

#centerButton {
  padding-left: 35%;
}

#shiftLeft {
  padding-left: 50%;
}

.reduceInputWidth {
  width: 350px;
}

#loginSize {
  font-size: 25px;
}

h1 {
  margin: 10px;
  padding-bottom: 40px;
}

h3 {
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  width: 30%;
  text-align: center;
}

div.parentDiv {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

option {
  font-size: 20px;
}

#submitButton {
  padding-top: 10px;
  margin-bottom: 20px;
}
textarea {
  font-size: 20px;
}
