/* styles.css */

body {
  background-color: #d3d6db;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.listings {
  background-color: #3a4750;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.listing {
  width: 330px;
  height: 400px;
  margin-left: calc((100% - 660px)/4) ;
  margin-right: calc((100% - 660px)/4) ;
  align-items: row;
}

.image {
  display: flex;
  width: 330px;
  height: 330px;
  justify-content: center;
  align-items: center;
}

.image-content {
  display: flex;
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  align-items: center;
  overflow: hidden;
}

.image img {
  vertical-align: middle;
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  border-radius: 8;
}

.padding {
  padding-top: 10%;
  padding-left: 50px;
}

.price {
  overflow: hidden;
  color: #d3d6db;
  padding: 0px 15px 0px 15px;
  width: 330px;
  height: 30px;
}

.description {
  overflow: hidden;
  color: #d3d6db;
  padding: 0px 15px 0px 15px;
  font-size: 13px;
  width: 330px;
  height: 40px;
}

.price h4,
.description p {
  margin: 0;
}

@media (max-width: 1380px) {
  #content {
    width: 990px;
  }
}

@media (max-width: 1030px) {
  #content {
    width: 660px;
  }
}

@media (max-width: 700px) {
  #content {
    width: 330px;
  }
}

.container {
  max-width: 100%; 
  margin-left: 70px;
}

ul.categories {
  padding-top: 10px;
  list-style: square;
  padding-left: 20px;
}

li.categories {
  color: black;
  
}

a.categories {
  color: black;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.divider {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 0 0 1%;
}
  
.vertical-divider {
  margin: auto;
  border-width: 0;
  height: 100%;
  width: 1px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  border-right: none;
}

/* .content {
  flex: 3;
} */